<div class="parallex1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <h2 style="margin-top:150px">Support</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
     <div class="don-title"Style="text-align: center;">
      <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <h2><%= donate.don_title %></h2>
          <p><%= donate.don_title_desc %></p>
        </div>
      </div>
     </div><br><br>

     <div class="don_banner" style="background-attachment:fixed">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="display-1" style="color:black"><%= donate.long_term %></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <div class="container">
    <div class="row">
      <div class="col-lg-4">
      <h2><%= donate.short_term %></h2><br><br>
        <h3><%= donate.don_heading1 %></h3>
        <h5><%= donate.don_desc1 %></h5>
        <br>
        <h3><%= donate.don_heading2 %></h3>
        <h5><%= donate.don_desc2 %></h5>
      </div>
      <div class="donate-details">
        <div class="col-lg-6 col-lg-offset-1">
          <div class="detail-section">
            <h3 style="text-align:center;padding:20px;">Contact Details</h3>
            <p style="margin-left:10px; padding:5px;"><b>Phone Number:</b>   +919992217947</p>
            <p style="margin-left:10px; padding:5px;"><b>Account Number:</b>   30444191075 Sbi Bandra Turner Road Branch Mumbai</p>
            <p style="margin-left:10px; padding:5px;"><b>NOTE:</b>   Yearly Expenses For Training And Development Rupees 250000/.</p>
          </div>
        </div>
    
      </div>
      </div>
    </div>
  </div>
</section>
<br><br>
<hr>